@wp-bookmarks-primary-color: #86DF35;
@wp-bookmarks-demphasized-color: #BBB;

#wp-bookmarks {
    margin: 0 auto;
    width: 100%;
    .bookmarks {
        overflow: hidden;
        margin: 0;
        padding: 0;
        .bookmark {
            position: relative;
            display: inline-block;
            list-style: none;
            height: auto;
            padding: 0;
            margin: 17px;
            float: left;
            width: 200px;
            height: auto;
            vertical-align: top;
            -webkit-transition: top 0.25s ease;
            -moz-transition: top 0.25s ease;
            -ms-transition: top 0.25s ease;
            -o-transition: top 0.25s ease;
            transition: top 0.25s ease;
            top: 10px;
            &:after {
                content: "";
                position: absolute;
                height: 0;
                width: 200px;
                background: @wp-bookmarks-primary-color;
                -webkit-transition: height 0.25s ease;
                -moz-transition: height 0.25s ease;
                -ms-transition: height 0.25s ease;
                -o-transition: height 0.25s ease;
                transition: height 0.25s ease;
            }
            &:hover {
                top: 0;
                &:after {
                    height: 10px;
                }
            }
            .bookmark-link {
                text-decoration: none;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                z-index: 500;
            }
            .thumb {
                background: @wp-bookmarks-demphasized-color;
                width: 200px;
                height: 150px;
            }
            .details {
                background: #fff;
                padding: 1em;
                .tag-links {
                    position: relative;
                    z-index: 560;
                    margin-top: 1rem;
                    a {
                        color: @wp-bookmarks-demphasized-color;
                        cursor: pointer;
                        font-size: 0.75rem;
                        padding-bottom: 0.4rem;
                        padding-right: 0.35rem;
                        -webkit-transition: color 0.25s ease;
                        -moz-transition: color 0.25s ease;
                        -ms-transition: color 0.25s ease;
                        -o-transition: color 0.25s ease;
                        transition: color 0.25s ease;
                        &:hover {
                            color: @wp-bookmarks-primary-color;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
