<% _.each(posts, function(p) { %>
<li class="bookmark">
    <a class="bookmark-link" href="//<%= p.custom_fields.link %>" title="<%= p.title %>" target="_blank"></a>
    <div class="thumb" style="background-image: url('http://api.snapito.com/free/sc/<%= p.custom_fields.link %>');"></div>
    <div class="details">
        <div class="title"><%= p.title %></div>
        <div class="tags category">
            <% _.each(p.taxonomy_categories, function(t) {
                print('#' + t.title + ' ')
            }); %>
        </div>
        <div class="tags location">
            <% _.each(p.taxonomy_city, function(t) {
                print('#' + t.title + ' ')
            }); %>
        </div>
    </div>
</li>
<% }); %>
